.root {
    z-index: 10000;
    position: absolute;
    overflow: auto;
    max-height: 150px;
    background: #FFF;
    margin-top: -100px;
}

.mentionItem {
    cursor: pointer;
    padding: 0.4rem;
    border-bottom: 1px solid #ddd;
    &:hover {
        background-color: #eee;
    }
}

.activeItem {
    background-color: #eee;

    &:active,
    &:focus {
        border: 1px solid skyblue;
        outline: navajowhite;
    }
}